CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_DB=docker
CLICKHOUSE_USER=dbadmin
CLICKHOUSE_PASSWORD=example

VERTICA_HOST=localhost
VERTICA_PORT=5433
VERTICA_DB=docker
VERTICA_USER=dbadmin
VERTICA_PASSWORD=example
